
.light-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 200px;
}

.light-container .text {
    position: relative;
    color: #222;
    font-size: 40px;
}

.light-container .text::after {
    position: absolute;
    content: "探照灯，照亮你的美～";
    left: 0;
    top: 0;
    color: transparent;
    font-size: 40px;
    /* 半径为40px x为0 y居中的圆 */
    clip-path: ellipse(40px 40px at 0% 50%);
    animation: move 4s linear infinite;
    /* 可以将文字颜色改为背景图颜色 操作如下(文字颜色为透明) */
    /* background-image: url("https://w.wallhaven.cc/full/m3/wallhaven-m3zjx1.jpg");
     */
    /* 用渐变背景色 */
    background: linear-gradient(90deg, rgba(255, 11, 11, 1) 0%, rgba(239, 255, 10, 1) 25%, rgba(6, 246, 217, 1) 49%, rgba(6, 118, 255, 1) 75%, rgba(147, 0, 255, 1) 100%);
    background-position: center center;
    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes move {
    0% {
        clip-path: ellipse(40px 40px at 0% 50%);
    }

    50% {
        clip-path: ellipse(40px 40px at 100% 50%);
    }

    100% {
        clip-path: ellipse(40px 40px at 0% 50%);
    }
}